name: CI

on:
  push:
    branches:
    - 'master'
    paths:
    - 'packages/evm/**'
  pull_request:
    branches:
    - '*'
    paths:
    - 'packages/evm/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Lint
      run: yarn workspace @aragon/protocol-evm lint

  controller:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Controller
      run: yarn workspace @aragon/protocol-evm test:controller

  disputes:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Disputes
      run: yarn workspace @aragon/protocol-evm test:disputes

  appeals:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Appeals
      run: yarn workspace @aragon/protocol-evm test:appeals

  settle_rounds:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Settle Rounds
      run: yarn workspace @aragon/protocol-evm test:settle-rounds

  settle_appeals:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Settle Appeals
      run: yarn workspace @aragon/protocol-evm test:settle-appeals

  registry:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Registry
      run: yarn workspace @aragon/protocol-evm test:registry

  lib:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Lib
      run: yarn workspace @aragon/protocol-evm test:lib

  voting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Voting
      run : yarn workspace @aragon/protocol-evm test:voting

  payments:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Payments
      run: yarn workspace @aragon/protocol-evm test:payments

  treasury:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install
      run: yarn --frozen-lockfile
    - name: Treasury
      run: yarn workspace @aragon/protocol-evm test:treasury

env:
  CI: true
